@model List<ChoThueQuanAo.Models.RentalContract>

<h2>Danh sách hợp đồng</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Mã hợp đồng</th>
        <th>Ngày tạo</th>
        <th>Trạng thái</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.ContractCode</td>
        <td>@item.CreatedAt</td>
        <td>@item.Status</td>
    </tr>
}
</table>